@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body{
  margin: 0;
  margin-top: 10.5vh;
  font-family: Product Sans;
}

div.navBar{
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  border-bottom: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 0.5vh;
}

div.bannerArea {
  position: relative;
  height: 89.5vh;
  width: 100vw;
  margin: 0 auto;
}

div.bannerLogo {
  position: relative;
  margin: 0 auto;
  width: 30vh;
  height: 20vh;
  top: 29vh;
}

div.bannerName {
  position: relative;
  margin: 0 auto;
  width: 30vh;
  height: 10vh;
  top: 29vh;
}

#bannerLogo {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
  animation: fadeLeft 2000ms;
}

#bannerName {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  animation: fadeRight 2000ms;
}

/* animations */
@keyframes fadeLeft {
  0% {
    opacity: 0;
    width: 67.5%;
    transform: translateX(-70vw) rotate(90deg);
  }
  75% {
    opacity: 0.5;
    width: 67.5%;
    transform: translateX(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    width: 75%;
    transform: translateX(+70vw) rotate(-90deg);
  }
  75% {
    opacity: 0.5;
    width: 75%;
    transform: translateX(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}