@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body{
  margin: 0;
  margin-top: 11vh;
  font-family: Product Sans;
}

div.navBar{
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  border-bottom: #d0d0d0;
  border-bottom-style: solid;
  border-bottom-width: 1vh;
}

div.bannerBack {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

div.bannerLogo {
  position: absolute;
  margin: 0 auto;
  height: 137px;
  width: 220px;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
}





/*11.3137085,   339.4112549*/
